$button-primary-background-color: #6161d3;
$button-primary-text-color: #fff;
$progress-bar-background-color: linear-gradient(to right, #b993d6, #6161d3);
$progress-bar-border-color: #aaa;
$progress-bar-font-color: #fff;