@import "@/assets/styles/normalize.scss";
@import '@/assets/styles/fonts/index.scss';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $white-smoke;
}

#app {
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
